.editFormWrapper{
    margin: auto;
    display: block;
}

.submitEditBtn{
    border: none;
    height: auto;
    margin: 0px;
    border-radius: 4px;
    padding: 5px 24px;
    font-size: 0.65em;
    font-family: 'Kalam', cursive;
    background-color: steelblue;
    color: #fff;
    transition: 0.2s ease-out;
}

.submitEditBtn:hover{
    background-color: rgb(104, 177, 236);
    color: #fff;
    transition: 0.2s ease-out;
}

.editNoteInput{
    margin: auto;
    height: auto;
    width: 400px;
    min-width: 400px;
    font-size: 0.9em;
    padding-left: 20px;
    border-radius: 4px;
    font-family: 'Kalam', cursive;
    background-color: rgba(34,49,63,0.8);
    color: #fff;
    transition: 0.2s ease-out;
}

.noteInput:focus{
    background-color: #E4F1FE;
    color: #111;
    transition: 0.2s ease-in;
}